body {
  font-family: Arial, sans-serif;
  padding: 2rem;
  background-color: #fffef7;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fafafa;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input,
select,
button {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

button {
  background-color: #495e57;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
